*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}


.Header{
    max-width: 1200px;
    width: 95%;
    margin: auto;
    padding: 1rem 0;
    &-Nav{
    }
    &-ul{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;
    }
    &-li{
        list-style-type: none;
    }
    &-a{
        text-decoration: none;
        font-size: 1.2em;
        font-weight: bold;
    }
}

.Main{
    max-width: 1200px;
    margin: auto;
    padding: .5rem 0 0;
    &-h1{
        margin: 2rem 0 5rem;
        text-transform: uppercase;
    }
    &-ul{
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
        align-items: center;
        padding: 1rem 0;
        margin-bottom: 1rem;
    }
    &-li{
        list-style-type: none;
    }
    &-a{
        text-decoration: none;
    }
    &-btn{
        display: none;
        pointer-events: none;
    }
}
.Main-a.active{
    color: red;
}
.Main-section{
    display: none;
}
.Main-section.active{
    display: block;
}

.Datos{
    margin: 0 auto 5rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #d1cecebb ;
    width: 80vw;
    max-width: 40rem;
    padding: 1rem 5rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 2rem #bbbbbb;

    &-h2{
        padding:0 0 3rem 0; 
        font-size: 1.5em;
        text-transform: uppercase;
    }

    &-li{
        width: 20rem;
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-between ;
        gap: 1rem;
    }
    &-label{
        font-weight: 500;
        color: blue;
    }
    &-input{
        border: none;
        padding: .4rem .8rem;
        border-radius: 2rem;
        width: 17rem;
        border: 2px solid blue;
        transition: border .3s ease;
    }
    &-input:hover{
        border: 2px solid rgb(12, 226, 226);
    }
    &-input:focus{
        outline: none;
        border: none;
        border: 2px solid rgb(12, 226, 226);
    }
    &-btn{
        background-color: #fff;
        padding: .5rem 1.5rem;
        text-transform: uppercase;
        font-weight: bold;
        margin:1rem 0 0;
        border-radius: 2rem;
        border: 2px solid #0B32C2;
        color: #0B32C2;
        transform: scale(1);
        transition: all .5s ease;
    }
    &-btn:hover{
        background-color: #0B32C2;
        border: 3px solid #0B32C2;
        color: #fff;
    }
    &-btn:active{
        transform: scale(1.1);
    }
}

.Table{
    margin: 0 auto 2rem ;
    padding: 1rem;
    border-collapse: collapse;
    

    &-tr{
        padding: 1rem;
    }
    &-th{
        background-color: rgb(32, 18, 217);
        border: 2px solid blue;
        padding: 1rem .5rem;
        text-transform: uppercase;
        font-weight: bold;
        color: #fff;
    }
    &-td{
        background-color: rgb(254, 254, 254);
        border: 2px solid blue;
        padding: .5rem 1rem;
        color: blue;
    }
   
}

.footer{
    background-color: #000;
    height: 10vh;
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    

}
.Footer-p{
    color: #fff;
    font-size: 1.1em;
    padding: .7rem;
}

.Main::after{
    content: '';
    width: 100vw;
    height: 150vh;
    position: absolute;
    background-image: linear-gradient(rgb(200, 245, 51));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    top: 10%;
    left: 0;
}

@media screen and (max-width:659px){
    .Main-h1{
        margin: 3rem 0;
    }
    .Main-nav{
        display: flex;
        flex-flow: column nowrap;
        justify-content: end;
        align-items: end;
        padding: 1rem 1rem 0;
    }
    .Main-h2{
        display: block;
        background-color: transparent;
        color: #000;
        font-size: 1.3em;
    }
    .Main-ul{
        flex-direction: column;
        align-items: end;
    }
    .Main-li{
        width: 12rem;
        text-align: start;
        position: relative;
    }
    .Main-li::after{
        content: '';
        background-color: red;
        width: .6rem;
        height: .6rem;
        position: absolute;
        z-index: 1;
        left: -12%;
        top: 20%;
        border-radius: 50%;

    }
    .Main-section{
        margin: 0 0 1rem 0;
    }
    .Datos{
        padding: 0 1rem
    }
    .Datos-li{
        max-width: 17rem;
        justify-content: center;
        align-items: center;
    }
    .Datos-input{
        max-width: 18rem;
    }

}